.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  max-height: 50vw;
  padding: 2px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  padding: 0;
  margin: 0;
  // font-size: 15px;
}

p {
  font-size: 15px;
}

* {
  font-family: Helvetica Neue;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
